@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    font-family: 'Manrope', sans-serif;
}

a {
    color: #000000;
}

header {
    display: block;
    margin: auto;
    max-width: 1080px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 42px;
}

.logotipo {
    width: 50px;
}

.img-logotipo {
    width: 100%;
}

.cabecalho-meio {
    flex-basis: 60%;
    display: flex;
    justify-content: space-between;
}

.catalogo-sobre {
    display: flex;
    gap: 24px;
}

.cliente-carrinho {
    display: flex;
    gap: 14px;
}

main {
    display: block;
    margin: auto;
    max-width: 1080px;
}

.homens-mulheres-criancas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 42px;
}

.categoria-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.categoria-card a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.categoria-card img {
    max-width: 100%;
    border-radius: 5px 5px 0px 0px;
}

figcaption {
    font-size: 25px;
    font-weight:500;
}

.texto-inspirador-texto {
    padding: 62px 162px;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
}

.exposicao-roupas {
    display: flex;
    flex-direction: column;
    padding: 0 42px;
}

.exposicao-roupas-texto-e-setas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exposicao-roupas-texto-e-setas p {
    font-size: 32px;
    font-weight: 400;
}

.setas {
    display: flex;
    gap: 20px;
}

.exposicao-roupas-imagem-preco {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
}

.exposicao-roupas-card {
    width: 240px;
    display: flex;
    flex-direction: column;
}

.exposicao-roupas-card img {
    width: 100%;
}

.exposicao-texto {
    padding: 20px 0 0 4px;
    font-weight: 500;
}

.exposicao-preco {
    padding: 0 0 0 4px;
    font-weight: 500;
}

.img-texto-descritivo {
    display: flex;
    padding: 42px;
}

.img-texto-descritivo img {
    max-width: 540px;
}

.texto-sobre {
    display: flex;
    flex-direction: column;
    padding: 90px 80px 0 90px;
}

.texto-titulo {
    font-size: 42px;
    font-weight: 500;
}

.texto-subtitulo {
    padding-top: 10px;
    font-weight: 500;
    font-size: 16px;
}

.texto-em-si {
    padding-top: 16px;
    font-size: 14px;
}

.img-texto-descritivo a {
    padding-top: 24px;
    font-weight: 500;
}

.exposicao-preco-promocao {
    padding: 0 0 0 4px;
    font-weight: 500;
    color: #C10303;
}

.preco-antigo {
    text-decoration: line-through;
    color: #828282;
    font-size: 14px;
}

.botao-fundo-preto {
    background-color: black;
    color: white;
    border-radius: none;
    padding: 14px 32px;
    margin-top: 16px;
    width: 60%;
}

.botao-fundo-preto:hover {
    cursor: pointer;
}

.inscreva-se {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 62px 42px;
}

.texto-titulo {
    max-width: 500px;
    text-align: center;
}

.input-email {
    margin-top: 16px;
    font-size: 18px;
    text-align: center;
    padding: 16px;
    border: none;
    border-bottom: solid 1px black;
    width: 500px;
}

.input-email:focus {
    border: none;
}

.botao-fundo-preto-inscreva-se {
    background-color: black;
    color: white;
    border-radius: none;
    padding: 14px 32px;
    margin-top: 16px;
    width: 500px;
}

.botao-fundo-preto-inscreva-se:hover {
    cursor: pointer;
}

footer {
    color: #ffffff;
    background-color: #000000;
    display: block;
    margin: auto;
    max-width: 1080px;
}

footer p {
    font-weight: 500;
    font-size: 18px;
}

footer a {
    color: white;
    font-size: 12px;
}

footer i {
    font-size: 18px;
}

.footer-flex {
    display: flex;
    padding: 64px;
    gap: 62px;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.sobre-nos {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.categorias {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.entrega {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contato {
    display: flex;
    flex-direction: column;
    gap: 16px;
}